.container{
    height: 90vh;
    background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 30px;
      margin-top: 50px;
}
h2 {
    color: #007bff;
  }

  p {
    line-height: 1.6;
  }