<div class="container ">
    <h2 class="mb-4">Bienvenue sur notre Surveillance de réservoir!</h2>
    <p>Nous sommes une équipe passionnée composée de Merieme AZOUAOUI, Soukayna DAHOU, Yahya DAOUDI, et Youssef OUMENSKOU. Notre projet consiste à développer un système de détection de niveau d'eau innovant utilisant des objets connectés.</p>
    <p>L'objectif principal est de surveiller en temps réel le niveau d'eau d'un réservoir, offrant ainsi une solution précieuse pour les gestionnaires de réservoirs, les ingénieurs, les développeurs IoT, les agriculteurs, les autorités de gestion de l'eau, les fournisseurs de services publics, les scientifiques, les chercheurs et même le grand public.</p>
    <p>Nos objets connectés, équipés de capteurs de niveau d'eau et de capteurs sonores, assurent une surveillance constante et permettent la transmission d'alertes en cas de niveaux critiques. Nous croyons que la connectivité des objets connectés joue un rôle essentiel dans une gestion efficace et réactive du niveau d'eau dans le réservoir.</p>
    <p>Nous sommes ravis de partager notre passion pour la technologie au service de la gestion durable des ressources en eau.</p>
  </div>
  